.main_login {
    background-image: url('../../asset/cover_pic_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    filter: brightness(120%);
    position: relative;
    filter: opacity(10px);
  }
  .form-container {
    background-color: #abf281c6; 
    padding: 20px; 
    border-radius: 9px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
  }
  
  .form-label {
    font-weight: bold;
    color: #000000; 
    margin-bottom: 10px;
  }
  
  .form-input {
    padding: 10px; 
    border: 1px solid #030303; 
    border-radius: 5px;
    width: 100%; 
    margin-bottom: 15px; 
  }
  
  .form-button {
    background-color: #ffcc0086; 
    color: #0f0d0d; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #5237ce7e;
  }
  
  .form-link {
    text-decoration: none;
    color: #5c3016b2; 
  }
  
  .form-link:hover {
    text-decoration: underline; 
  }